# Database Configuration
# Production - Railway PostgreSQL
DATABASE_URL="postgresql://postgres:password@host.railway.app:port/railway"

# Local Development - Docker PostgreSQL
# DATABASE_URL="postgresql://postgres:password@localhost:5433/trusted_services_ke"